header {
    background-color: black;
    color: #ffffff;
}

.cabecalho {
    color: #ffffff;
    text-align: center;   
}

.cabecalho-lista-1{
    text-align: center;
}

body{
    background-color: rgb(241, 241, 34);
}

.hamburguer-1 {
    width: 40%;
    padding: 20px;
}

.hamburguer-2 {
    width: 40%;
}


